<% if (companyNames && companyNames.length > 0) { %>
<button value="all">All</button>
<% companyNames.forEach(companyName => { %>
<button value="<%= companyName %>"><%= companyName %></button>
<% }); %> <% } else { %>
<p>No company names available.</p>
<% } %>
