<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <header>
      <div id="test">
        <h1>Mileage and Pay Calculator</h1>
      </div>
      <nav><%- include('./partials/nav.ejs') %></nav>
    </header>

    <main>
      <section id="sortButtons1">
        <span>sort:</span>
        <button value="daily">Daily</button>
        <button value="weekly">Weekly</button>
        <button value="monthly">Monthly</button>
        <button value="yearly">Yearly</button>
      </section>

      <section id="columnNames1">
        <span>date:</span>
        <span>Total Miles:</span>
        <span>Total Pay:</span>
        <span>AVG Pay Per Mile:</span>
      </section>

      <form id="dailyInfoForm" style="display: flex; flex-direction: column">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required />

        <label for="mileageStart">Mileage Start:</label>
        <input type="text" id="mileageStart" name="mileageStart" required />

        <label for="mileageEnd">Mileage End:</label>
        <input type="text" id="mileageEnd" name="mileageEnd" required />

        <label for="pay">Pay:</label>
        <input type="text" id="pay" name="pay" required />

        <label for="company">Company:</label>
        <input type="text" id="company" name="company" required />

        <button type="submit">Submit</button>
      </form>

      <section id="sortButtons2"><%- include('./partials/sortButtons.ejs') %></section>
      <section id="columnNames2">
        <span>date:</span>
        <span>MileageStart:</span>
        <span>MileageEnd:</span>
        <span>Total Miles:</span>
        <span>Company:</span>
        <span>Total Pay:</span>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
