<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <header>
      <div id="title">
        <h1>Mileage and Pay Tracker</h1>
      </div>
      <nav><%- include('./partials/nav.ejs') %></nav>
    </header>

    <main>
      <!-- OPTIONS -->
      <form id="companyForm">
        <div><input type="text" id="insertCompany" name="insertCompany" placeholder="New Company |" /></div>
        <div><input type="submit" value="Add" /></div>
      </form>

      <form id="removeCompanyForm">
        <div>
          <select id="removeCompanyDropdown">
            <option value="">Select Company</option>
          </select>
        </div>
        <div><input type="submit" value="Remove" /></div>
      </form>
      <!-- OPTIONS -->

      <section id="intervalSortButtons">
        <span>sort:</span>
        <button id="dailyButton" value="daily">Daily</button>
        <button id="weeklyButton" value="weekly">Weekly</button>
        <button id="monthlyButton" value="monthly">Monthly</button>
        <button id="yearlyButton" value="yearly">Yearly</button>
      </section>

      <section id="IntervalSortedData"></section>

      <form id="dailyInfoForm">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required />

        <label for="mileageStart">Mileage Start:</label>
        <input type="text" id="mileageStart" name="mileageStart" required />

        <label for="mileageEnd">Mileage End:</label>
        <input type="text" id="mileageEnd" name="mileageEnd" required />

        <label for="pay">Pay:</label>
        <input type="text" id="pay" name="pay" required />

        <div>
          <label for="companyDropdownDaily">Company:</label>
          <select id="companyDropdownDaily" name="company" required>
            <option value="">Select Company</option>
          </select>
        </div>

        <button type="submit">Submit</button>
      </form>

      <section id="mapRowsButtons"><%- include('./partials/sortButtons.ejs') %></section>
      <section id="MapRowsData"></section>
    </main>

    <footer></footer>
  </body>
</html>
